@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}
.root {
    height: 100vh;
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 18px;
}
.homepage {

}
header h1 {
    font-size: 2.2rem;
}
ul {
    display: flex;
    gap: 3rem;
}
.productDisplay {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #f3f4f6;
    width: 100%;

}
.item:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.item {
    transition: all .2s ease-in-out;
    border: 1px solid #cbd5e1;
}
@media (min-width: 900px) {
    .productDisplay {grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 1200px) {
    .productDisplay {grid-template-columns: repeat(3, 1fr);}
}
@media (min-width: 1600px) {
    .productDisplay {grid-template-columns: repeat(4, 1fr);}
}
.cartIconDiv {
    position: relative;
}
.cartCounter {
    display: flex;
    position: absolute;
    bottom: -5px;
    background-color: #ea580c;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    
}

